h3, h4, h5 {
    text-transform:uppercase;
}
h1.page-title, h2, .uk-h1 {
	font-weight:100;
	margin-top:13px;
}
.architect-line-bottom {
	border-bottom:1px solid #000000;
}
.uk-light .architect-line-bottom, .architect .uk-light .uk-alert {
	border-bottom:1px solid #fff;
}
.architect .uk-alert {
	margin-bottom:0;
	border-bottom:1px solid #000000;
	padding-left:0;
}
.architect .uk-alert-success {
	background-color:transparent;
}
aside h1.page-title, aside p {
	font-size:.875rem;
	margin-top:0;
}
aside h6 {
	color:rgba(0,0,0,.3);
	margin:20px 0 5px 0;
}
.field--name-field-tags .uk-label {
	background-color: #000;
	font-size:.875rem;	
}
.field--name-field-tags .uk-label a:hover {
	text-decoration:none;
}
.architect .uk-navbar-nav>li>a {
	text-transform: none;
}
.architect .uk-navbar-container.uk-sticky.uk-sticky-fixed {
	background-color:#fff;
}
.architect .uk-sticky.uk-active .uk-navbar-item, .architect .uk-sticky.uk-active .uk-navbar-nav>li>a, .architect .uk-sticky.uk-active .uk-navbar-toggle {
	min-height:40px;
	font-size:12px;
}
.architect .uk-sticky.uk-active .nhs, .architect .arch-logo-wide {
	display:none;
	margin-bottom:3px;
}
.architect .uk-sticky.uk-active .arch-logo-wide {
	display:inline;
}