<div class="footwrap uk-section uk-section-secondary">
  <div class="uk-container uk-container-center">
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
  </div>
</div>

<div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
        <button class="uk-modal-close-full" type="button" uk-close></button>
        <form class="uk-search uk-search-large" action="/search/node" method="get" data-drupal-form-fields="edit-keys">
            <input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus>
        </form>
    </div>
</div>