 <div class="uk-navbar-container uk-navbar-transparent architect-line-bottom" style="z-index: 980;" uk-sticky="animation: uk-animation-slide-bottom-small;media: @m">
   <div class="uk-container uk-container-expand">
      <nav class="uk-navbar" uk-navbar="{"align":"left","boundary":"!.uk-navbar-container"}">
        <div class="uk-navbar-left">
         {{ page.branding }}
        </div>
        <div class="uk-navbar-right">
          <div class="uk-navbar-item uk-visible@l">
             {{ page.mainmenu }}
          </div>
          <a class="uk-navbar-toggle" href="#modal-full" uk-search-icon uk-toggle></a>
          <a class="uk-navbar-toggle uk-hidden@l" href="#offcanvas" uk-toggle>
            <span uk-navbar-toggle-icon></span>
          </a>
        </div>
      </nav>
    </div>
 </div>