{% if page.highlighted %}
        {{ page.highlighted }}
{% endif %}
{% if page.featured_top %}
  <div class="featured-top">
    <aside class="featured-top__inner section layout-container clearfix" role="complementary">
      {{ page.featured_top }}
    </aside>
  </div>
{% endif %}
