<nav role="navigation" class="navigation searchnav uk-visible@m">
  <h2 class="uk-position-relative">
    <div class="uk-overlay uk-position-bottom">Search</div>
  </h2>
  <ul class="uk-navbar-nav uk-hidden-small">
    <li class="searchmenu">
      <form block="block-form3-search" action="/search/node" method="get" accept-charset="UTF-8">
        <div class="uk-clearfix">
          <input title="Enter the terms you wish to search for." type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search uk-width-2-3 uk-float-left uk-input">
          <button type="submit" value="Search" class="button js-form-submit form-submit uk-button uk-button-primary uk-width-1-3 uk-float-right">Search</button>
        </div>
      </form>

    </li>
  </ul>
</nav>
