{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}

{% block messages %}
{% for type, messages in message_list %}
  {%
    set classes = [
      'uikitty-alert',
      'uikitty-alert-' ~ type,
    ]
  %}

    {% if type == 'error' %}
      <div data-drupal-messages class="uk-alert-warning uk-margin-remove-top" uk-alert>
        <div class="uk-container uk-container-expand">
    {% else %}
      <div data-drupal-messages class="uk-alert-success uk-margin-remove-top" uk-alert>
        <div class="uk-container uk-container-expand">
    {% endif %}
    <a class="uk-alert-close" uk-close></a>
    
      {% if status_headings[type] %}
        <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
      {% endif %}
      {% if messages|length > 1 %}
        <ul class="messages__list">
          {% for message in messages %}
            <li class="messages__item">{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ messages|first }}
      {% endif %}
    {% if type == 'error' %}
      </div>
      </div>
    {% else %}
      </div>
      </div>
    {% endif %}

  {# Remove type specific classes. #}
  {% set attributes = attributes.removeClass(classes) %}
{% endfor %}
{% endblock messages %}
