
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home" class="uk-navbar-item uk-logo">
      <img src="/{{ base_path }}{{ active_theme_path() }}/logo.svg" width="200" height="40" alt="{{ 'Home'|t }}" class="nhs" />
      <img src="/{{ base_path }}{{ active_theme_path() }}/logo-inverted.svg" width="200" height="40" alt="{{ 'Home'|t }}" class="nhs uk-logo-inverse" />
      <img src="/{{ base_path }}{{ active_theme_path() }}/logo-wide.svg" width="209" height="20" alt="{{ 'Home'|t }}" class="arch-logo-wide" />
    </a>
  {% endif %}
  {% if site_name %}
    <div class="uk-navbar-item uk-padding-remove-left">
      <div class="uikitty-sitename">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
